ul {
  list-style: none;
}
.bars {
	display: flex;
	text-align: center;
	
}
.bars #tasks {
	width: 20%;
	height: 20%;
	border-style: solid;
	border-radius: 25px;
	padding: 10px;
	background-color: lightgrey;
}
.bars #days {
	width: 80%;
	height: 20%;
	background-color: lightgrey;
	border-style: solid;
	border-radius: 25px;
	padding: 10px;
}
.content {
	display: flex;
}
.content .vertical{
	display: flex;
	width: 80%;
	padding: 0px;
}
.content .vertical li {
	width: 100%;
	padding: 8px;
	text-align: center;	
	border-right-style: solid;
	border-right-color: lightgrey;
	height: 890px;
}
.content .options {
	width: 20%;
	border-right-style: solid;
	border-right-color: lightgrey;
	padding-left: 10px;
}

.content .options .task-title {
	text-align: center;
	padding: 0px;

}

.content .options #task {
	position: relative;
	left: 108.5px;
}

#subMonth {
		position: relative;
		margin : 10px;
}
#month{
	margin-right: 20px;
}
#tlabel {
	margin-right: 20px;
}
#from {
	width:33%;
	margin-right: 20px;
}
#to {
	width:33%;
}

.horizontal-task div {
	margin:0px;
	position: relative;
	padding: 2px;
}

.horizontal-task div ul{
	position: relative;
}

.horizontal-task div ul li{
	position: relative;
}


